services:
  fcp-sfd-performance-test-suite:
    build: .
    image: fcp-sfd-performance-test-suite-development
    container_name: fcp-sfd-performance-test-suite-development
    depends_on:
      localstack:
        condition: service_healthy
    env_file:
      - 'compose/aws.env'
    environment:
      S3_ENDPOINT: 'http://localstack:4566'
      RESULTS_OUTPUT_S3_PATH: 's3://test-results'
      ENVIRONMENT: local
      SERVICE_ENDPOINT: fcp-sfd-comms-publisher-stub
      SERVICE_PORT: 3008
      SERVICE_URL_SCHEME: http
      TEST_SCENARIO: CommsPerfTest
      LOOP_COUNT: 1000
      DURATION_SECONDS: 300
      THREAD_COUNT: 1
      RAMPUP_SECONDS: 30

  localstack:
    image: localstack/localstack:4.11.1
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3, sqs, sns
      LOCALSTACK_HOST: 127.0.0.1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 10s
      start_period: 10s
      retries: 5


